.event-details {
  border-radius: 12px;
  margin: 10px auto;
  padding: 10px;
  max-width: 800px;
  height: auto;

  background-color: var(--date-color);
  opacity: 75%;

  text-wrap: wrap;
  font-size: 2.5em;

  &-title {
    display: flex;
    flex-direction: row;
    text-emphasis: bold;
    justify-content: space-between;

    padding-bottom: 1em;
  }

  &-pill-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      border: 1px solid grey;
      border-radius: 8px;
      background-color: aliceblue;
      padding: 2px;
      margin: 2px;
    }
  }
}
