.menu {
    &-accordion-wrapper { 
        position: sticky;
        top: 0;
        box-shadow: 0px -10px 7px 7px black;
        z-index: 1000;
    }

    &-accordion-content { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: lightgrey;
    }

    &-accordion-content:hover {
        background-color: white;
    }

    &-accordion-content,
    &-accordion-drawer {
        padding: 10px;
    }

    &-accordion-drawer {
        background-color: lightgrey;
    }

    &-accordion-heading {
        font-family: 'Futura Bold', sans-serif;
        font-size: 1.2em;
        color: #005b84;
    }

    &-accordion-svg { 
        width: 1em;
        height: 1em;
        font-size: 2.5rem;
        transition: transform 0.3s ease;
    }

    &-favorites-svg { 
        width: 1em;
        height: 1em;
        font-size: 2.5rem;
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer;
    }
}

.expanded { 
    transform: rotate(180deg);
}