.footer {
  &-tab-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 3em;
    background-color: var(--primary-color);
    box-shadow: 0px 10px 7px 7px black;
  }

  &-tabs {
    font-family: "Futura Bold", sans-serif;
    font-variant-caps: small-caps;
    font-size: 1em;
    font-size: 1em;

    > button {
      margin: 0;
      padding: 1em;
      border: none;
      background: none;
      font: inherit;
      cursor: pointer;
      outline: none;
    }
  }

  &-tab-active {
    font-family: "Futura Bold", sans-serif;
    font-variant-caps: small-caps;
    font-size: 1em;
    font-size: 1em;

    background-color: var(--tertiary-color);
    border-radius: 10px;
    color: var(--primary-color);

    > button {
      margin: 0;
      padding: 1.5em;
      color: var(--primary-color);
      border: none;
      background: none;
      font: inherit;
      cursor: pointer;
      outline: none;
    }
  }
}
