@use "components/list/EventList.scss";
@use "components/details/EventTile.scss";
@use "components/header/Menu.scss";
@use "components/footer/Footer.scss";

@font-face {
  font-family: 'Futura Bold';
  src: url('../assets/fonts/Futura\ Bold.otf') format('opentype');
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  background-color: #262626;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}