@use "components/list/EventList.scss";
@use "components/details/EventTile.scss";
@use "components/header/Menu.scss";
@use "components/footer/Footer.scss";

@font-face {
  font-family: "Futura Bold";
  src: url("../assets/fonts/Futura\ Bold.otf") format("opentype");
  font-family: "Futura Bold";
  src: url("../assets/fonts/Futura\ Bold.otf") format("opentype");
}

:root {
  --primary-color: #d7d7d7;
  --secondary-color: #e2f7e4;
  --tertiary-color: #496d2e;
  --fav-color: #ffc35c;
  --backdrop-color: #000000;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  background-color: var(--backdrop-color);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map {
  max-width: 100vw;
  max-height: 80vh;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
    max-height: 80vh;
    width: 100vw;
  }
}
